{% extends 'base.html' %}

{% block title %}
Delete post
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<h1>Delete blog post</h1>
<br>
<br>
<div class = "form-group">
    <form method="POST">
        {% csrf_token %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
      <br>
        {% if user.id == post.author.id %}
            <button class ="btn btn-secondary">Delete post</button>
        {% endif %}
        <a href="{% url 'list_of_posts' %}" class ="btn btn-secondary">Back</a>
    </form>
</div>

{% else %}

<p>prisijunkite!!!</p>

{% endif %}




{% endblock %}