{% extends 'base.html' %}
{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}


<h1>{{ post.title }}</h1>
<p>{{ post.content | linebreaks }}</p>
<br/>
<p>Author: {{ post.author }}
    <br/>
    <br/>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <small><a href="{% url 'update_post' post.pk %}">Edit</a></small> or <small><a href="{% url 'delete_post' post.pk %}">Delete</a></small></p>
        {% endif %}
    {% endif %}


<br/>
<a href="{% url 'list_of_posts' %}" class ="btn btn-secondary">Back</a>




{% endblock %}