{% extends 'base.html' %}
{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}


<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
<p>{{ post.author.first_name }} {{ post.author.last_name }}
    <br/>
    <br/>
    {% if user.is_authenticated %}
    <small><a href="{% url 'update_post' post.pk %}">Edit</a></small> or <small><a href="{% url 'delete_post' post.pk %}">Delete</a></small></p>
    {% endif %}


<br/>
<a href="{% url 'list_of_posts' %}" class ="btn btn-secondary">Back</a>




{% endblock %}