{% extends 'base.html' %}
{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}


<h1>{{ post.title }}</h1>

{% if post.header_image %}
<img src ="{{ post.header_image.url }}">
{% endif %}

<p>{{ post.content | linebreaks }}</p>



    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <small><a href="{% url 'update_post' post.pk %}">Edit</a></small> or <small><a href="{% url 'delete_post' post.pk %}">Delete</a></small></p>
        {% endif %}
    {% endif %}

<br/>
<p>Author: {{ post.author }}
<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-2">
        {% if post.author.profile.profile_pic %}
      <img src="{{ post.author.profile.profile_pic.url }}"  width="150" height="150" alt="...">
        {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
        <p class="card-text">Bio: {{ post.author.profile.bio }}</p>
        <p class="card-text"><small class="text-body-secondary"></small>
            {% if post.author.profile.facebook_url %}
                <a href="{{ post.author.profile.facebook_url }}" target="_blank">Facebook |</a>
            {% endif %}
            {% if post.author.profile.instagram_url %}
                <a href="{{ post.author.profile.instagram_url }}" target="_blank">Instagram |</a>
            {% endif %}
            {% if post.author.profile.website_url %}
                <a href="{{ post.author.profile.website_url }}" target="_blank">Website </a>
            {% endif %}
            </p>
      </div>
    </div>
  </div>
</div>


<br/>
<a href="{% url 'list_of_posts' %}" class ="btn btn-secondary">Back</a>




{% endblock %}